{% comment %} ページネーションのアイコンを左右中央に配置 {% endcomment %}
<ul class="pagination" style="justify-content:center">

    {% comment %} 前ページを表示するアイコンとリンク {% endcomment %}
    {% comment %} 前ページが存在する場合 {% endcomment %}
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}

    {% comment %} 全てのページについてページ番号のアイコン表示 {% endcomment %}
    {% for num in page_obj.paginator.page_range %}
        {% comment %} 各ページのアイコン出力 {% endcomment %}
        {% comment %} 処理中のページ番号が引き渡されたページ番号と一致する場合 {% endcomment %}
        {% if page_obj.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
        {% comment %} 一致しない場合 {% endcomment %}
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% comment %} 次ページを表示するアイコンとリンク {% endcomment %}
    {% comment %} 次ページが存在する場合 {% endcomment %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
</ul>