<!doctype html>

<html lang="ja">

    <head>
        {% comment %} マージン、パディング、背景色 {% endcomment %}
        <style>
            .pad{
                background-color: lavender;
                border: solid 2px;
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 100px;
                margin-top: 50px;
                margin-right: 70px;
                margin-left: 70px;
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>パスワードがリセットされました</h2>
            <br>
            {% comment %} トップページへのリンク {% endcomment %}
            <a href="{% url 'partygame:index' %}">トップページへ</a>
        </div>
    </body>
</html>

