<!doctype html>

<html lang="ja">

    <head>
        {% comment %} マージン、パディング、背景色 {% endcomment %}
        <style>
            .pad{
                background-color: lavender;
                border: solid 2px;
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 100px;
                margin-top: 50px;
                margin-right: 70px;
                margin-left: 70px;
            }
        </style>
    </head>

    <body>
        <div class="pad">
            <h2>PartyGame Meeting</h2>
            <h4>パスワードを入力してください</h4>
            <br />
            {% comment %} フォーム {% endcomment %}
            <form action="" method="POST">
                {% csrf_token %}
                {% comment %} formに格納されている要素全て出力 {% endcomment %}
                {{ form }}
                {% comment %} パスワードリセットボタン {% endcomment %}
                <input type="submit" value="パスワードをリセット" />
            </form>
        </div>
    </body>
</html>

