{% extends 'base.html' %}

{% block title %}メール送信完了{% endblock %}

{% block contents %}
    <hr>
    {% comment %} グリッドシステム {% endcomment %}
    <div class="container">
        {% comment %} 行配置 {% endcomment %}
        <div class="row">
            {% comment %} 列配置 {% endcomment %}
            <div class="col offset-2 py-4">
                <h5>パスワードリセットのリンクをメールで送信しました</h5>
                <br>
                <h6>
                    メールが届かない場合はメールアドレスが正しいかご確認ください
                </h6>
                <br>
                {% comment %} トップページへのリンク {% endcomment %}
                <a href="{% url 'partygame:index' %}">PartyGame Meeting</a>
            </div>
        </div>
    </div>
{% endblock %}
