{% extends 'base.html' %}

{% block title %}パスワードリセット{% endblock %}

{% block contents %}
    {% comment %} グリッドシステム {% endcomment %}
    <div class="container">
        {% comment %} 行配置 {% endcomment %}
        <div class="row">
            {% comment %} 列配置 {% endcomment %}
            <div class="col py-4">
                <hr>
                <h3>パスワードをリセットしますか？</h3>
                <p>
                    登録済みのメールアドレスを入力してください。
                    メールが届いたら記載のリンクより手続きに進んでください。
                </p>
                <br>
                {% comment %} メール送信フォーム {% endcomment %}
                <form action="" method="POST" class="text-center">
                    {% csrf_token %}
                    {% comment %} フォームに格納されているインプットボックスとラベル {% endcomment %}
                    {{ form }}
                    {% comment %} 送信ボタン {% endcomment %}
                    <input type="submit" value="メールを受け取る" />
                    <br>
                </form>
                <br>
                {% comment %} トップページへのリンク {% endcomment %}
                <a href="{% url 'partygame:index' %}">PartyGame Meeting</a>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
